



.login {
  text-align: center;
  margin-top: 7%;
  margin-left: 30%;
  width: 40%;
  height: 600px;
  -webkit-transition: 0.3s

}

.login:hover {
  box-shadow: 2px 2px 5px  firebrick;

}

.login label {
  text-transform: uppercase;
  color: firebrick;
  font-size: 25px
}

.login input {
  width: 450px;
}
.login label:nth-child(1) {
  margin-top: 70px;
}

.login input:focus {
  box-shadow: 0 0 0 0.2rem hsla(0,100% ,90%,0.3) !important
}

.login button {
  background-color: white;
  color: firebrick;
  width: 30% ;
  height: 10%;
  -webkit-transition:  0.5s
}

.login button:hover {
  width: 9em ;
  height: 10%;
  border-radius: 50%;
}
